<div class="add_button_container">
    <button class="button" (click)="createJob()">Add new job</button>
</div>

<div class="add_job_container" *ngIf="display_window">
    <input #new_company_name>
    <button id="button" class="button" (click)="addJob(new_company_name.value)">Add</button>
    <button id="button" class="button" (click)="cancelAddJob()">Cancel</button>
</div>  



<div class="each_job" *ngFor="let job of jobs">   
        <div *ngIf="edit_job!=job"> {{job.compay_name}} </div>
        <input *ngIf="edit_job===job" [(ngModel)]="job.compay_name"/>


        <button *ngIf="edit_job!=job" id="button" class="button" (click)="deleteJob(job)">Delete</button>
        <button *ngIf="edit_job!=job" id="button" class="button" (click)="editJob(job)">Edit</button> 

        <button *ngIf="edit_job===job" id="button" class="button" (click)="cancelEditJob()">Cancel</button>
        <button *ngIf="edit_job===job" id="button" class="button" (click)="modifyJob(job, job.compay_name)">Accept</button> 
</div>        


